
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* //////////ADMIN////////////// */
.link-active{
  color: #4b70e2;
}
.link-inactive{
  color: rgb(97,97,97);
}

.RamRom{
  width: 50%;
}